<form class="person-mail-modal" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="person-mail-modal__grid">
    <!-- EMAIL -->
    <div class="person-mail-modal__field person-mail-modal__field--full">
      <label class="person-mail-modal__label" for="person-mail-email">
        {{ 'administration.person-mails.fields.email' | translate }}
      </label>

      <input
        #emailInput
        id="person-mail-email"
        type="email"
        class="person-mail-modal__input"
        formControlName="email"
        autocomplete="off"
      />

      <form-error [control]="form.controls.email"></form-error>
    </div>

    <!-- TYPE -->
    <div class="person-mail-modal__field person-mail-modal__field--full">
      <label class="person-mail-modal__label" for="person-mail-type">
        {{ 'administration.person-mails.fields.type' | translate }}
      </label>

      <app-sk-select
        [control]="form.controls.mail_type_id"
        [items]="mailTypesNormalized()"
        bindLabel="label"
        bindValue="id"
        [placeholder]="'common.no_type' | translate"
        [searchable]="true"
        [clearable]="true"
        [translateLabel]="true"
      />

      <form-error [control]="form.controls.mail_type_id"></form-error>
    </div>

    <!-- ACTIVE -->
    <div
      class="person-mail-modal__field person-mail-modal__field--full person-mail-modal__field--inline"
    >
      <label class="person-mail-modal__checkbox">
        <input type="checkbox" formControlName="active" />
        <span>
          {{ 'administration.person-mails.fields.active' | translate }}
        </span>
      </label>
    </div>
  </div>

  <!-- ACTIONS -->
  <div modal-footer class="person-mail-modal__actions">
    <app-ui-button
      [label]="'common.cancel' | translate"
      variant="ghost"
      size="sm"
      type="button"
      (click)="onCancel()"
    />

    <app-ui-button
      [label]="(isEdit() ? 'common.save' : 'common.create') | translate"
      variant="primary"
      size="sm"
      type="submit"
    />
  </div>
</form>
