<div class="person-phones-tab">
  <div class="tab-header">
    <div>
      <h4 class="section-title">{{'administration.person-phones.messages.registered' | translate}}</h4>
    </div>

    @if (getScreenOption('add'); as addOption) {
      <app-ui-button
        [label]="addOption.translation | translate"
        [variant]="addOption.color"
        size="sm"
        [iconLeft]="addOption.icon"
        (click)="onAdd()"
      />
    }
  </div>

  @if (!phones().length) {
    <div class="empty-state">
      No hay teléfonos registrados.
    </div>
  } @else {
    <div class="phone-list">
      @for (phone of phones(); track phone.id) {
        <div class="phone-item">
          <div class="phone-main">
            <div class="phone-value">
              {{ phone.phone | phoneFormat:phone.country?.phone_code }}
            </div>

            <div class="phone-meta">
              {{ getPhoneType(phone) | translate}}
              @if (getCountry(phone)) {
                • {{ getCountry(phone) }}
              }
            </div>
          </div>

          <div class="phone-actions">
            @if (getScreenOption('update'); as updateOption) {
              <app-ui-button
                size="sm",
                [variant]="updateOption.color"
                [iconLeft]="updateOption.icon"
                [iconOnly]="true",
                [label]="updateOption.translation | translate"
                (click)="onEdit(phone)"
              />
            }

            @if (getScreenOption('delete'); as deleteOption) {
              <app-ui-button
                size="sm",
                [variant]="deleteOption.color"
                [iconLeft]="deleteOption.icon"
                [iconOnly]="true",
                [label]="deleteOption.translation | translate"
                (click)="onDelete(phone)"
              />
            }
          </div>
        </div>
      }
    </div>
  }
</div>