<form class="mail-type-modal" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mail-type-modal__grid">
    <div class="mail-type-modal__field mail-type-modal__field--full">
      <label class="mail-type-modal__label" for="mail-type-name">
        {{ 'configuration.mail-types.fields.description' | translate }}
      </label>

      <input
        #nameInput
        id="mail-type-name"
        type="text"
        class="mail-type-modal__input"
        formControlName="description"
        autocomplete="off"
        (input)="onNameChange($event)"
      />

      <form-error [control]="form.controls.description"></form-error>
    </div>

    <div class="mail-type-modal__field mail-type-modal__field--full">
      <label class="mail-type-modal__label" for="mail-type-translation">
        {{ 'configuration.mail-types.fields.translation' | translate }}
      </label>

      <input
        id="mail-type-translation"
        type="text"
        class="mail-type-modal__input"
        formControlName="translation"
        autocomplete="off"
      />

      <form-error [control]="form.controls.translation"></form-error>
    </div>

  </div>

  <div modal-footer class="mail-type-modal__actions">
    <app-ui-button
      [label]="'common.cancel' | translate"
      variant="ghost"
      size="sm"
      type="button"
      (click)="onCancel()"
    />

    <app-ui-button
      [label]="(isEdit() ? 'common.save' : 'common.create') | translate"
      variant="primary"
      size="sm"
      type="submit"
    />
  </div>
</form>